<div id="splash">
    <div id="splash-headings">
    <h1 class="logo">The Choreforce </h1>
    <h2 class="text"> Saving Your Precious Time</h2>
    </div>

    <div id="service-headings" class="text">
        <div class="service-select">
            <%= image_tag("cleaning.svg", class: "splash-icon") %>
            <button class="btn "> Cleaning
            </button>
        </div>
        <div class="service-select">
             <%= image_tag("pets.svg", class: "splash-icon")%>
            <button class = "btn"> Pets
            </button>
        </div> 
        <div class="service-select">
             <%= image_tag("laundry.svg", class: "splash-icon")%>
            <button class = "btn"> Laundry
            </button>
        </div>       
    </div>
</div>

<div id="services" class="text">
    <h1> Services Offered</h1>
    <ul>
        <li>Service 1</li>
        <li>Service 2</li>
    </ul>

</div>

<div id="contact" class="text">
  <%= link_to "Contact Us", new_message_path%>
</div>